---
token: <YOUR_DO_API_TOKEN>
ssh_key_ids:
  - <YOUR_SSH_KEY_FINGERPRINT>
userdata_file: user-data.yml

haproxy_cfg_file: haproxy.cfg
haproxy_cfg_path: /etc/haproxy
haproxy_template_file: haproxy.cfg.erb


inventory_file: inventory

droplet_options:
  hostname_prefix: auto-nginx
  region: nyc3
  size: 1gb
  image: ubuntu-16-04-x64
